@{
    var errorMessage = Html.Raw(ViewData["errorMessage"] as string);
}
<!DOCTYPE html> 
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
</head>

<body>
<div id="loading" class="box-loading" style="display: none;">
	<img src="~/images/loading.gif" />
</div>

<div style="position: relative;">
    <div class="box_alert_message">
        <span id="alert_message_failed">
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            <span>ไม่พบรหัสนี้</span>
        </span>
    </div>
</div>

    @RenderBody()
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    @RenderSection("Scripts", required: false)

    <script>
        function Call_box_alert_message() {
            //var successMessage = "ลงทะเบียนสำเร็จ";
            //var failedMessage = "ไม่พบรหัสนี้";
            var errorMessage = "@errorMessage";

            if (errorMessage != "") {
                Call_box_alert_message_failed(errorMessage)
            }
            //console.log(isSuccess)
            //if (isSuccess.toLowerCase() == "true") {
                //Call_box_alert_message_success(successMessage)
            //} else if (isSuccess.toLowerCase() == "false") {
              //  
            //}
        }
    </script>
</body>
</html>
