<nav class="custom-navbar navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
    <a class="navbar-brand" href="#">
        <img src="~/images/logo.png" style="width:60px;">
    </a>
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/registration" target="_blank">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vote" target="_blank">Popular Vote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vote/summary" target="_blank">Summary Popular Vote</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attendee/lottery" target="_blank">Lottery Lucky</a>
      </li>
      @* <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li> *@
    </ul>
  </div>
</nav>