@model Attendee;
@{
	var attendee = TempData["attendee"] as Attendee;
    ViewData["Title"] = "Attendees";
}
<meta http-equiv="refresh" content="5;url=/registration" />

<link rel="stylesheet" href="~/css/registration.css" />

<div id="registration">
	<img class="image-top-page" src="~/images/background-top.png" />

	<div class="middle-view">
		<div class="row content-view">
			<div class="col-md-3 col-xs-12">
				<img class="image-logo" src="~/images/logo.png" /> 
			</div>
			<div class="col-md-9 col-xs-12">
				<div class="registration-result">
					<div class="title">ยินดีต้อนรับ</div>
					<div class="name">คุณ @Model.nameTH</div>
				</div>
			</div>
		</div>
		<div style="background-color: #08070A;">
			<div class="box-result-remark ">
				<div class="result-remark">เตรียมลุ้นรับของรางวัลใหญ่ภายในงานมากกว่า 40 รางวัล <br>ผู้โชคดีอาจเป็นคุณ</div>
			</div>
		</div>
	</div>

	<img class="image-bottom-page" src="~/images/background-bottom.png" />
</div>