@model Attendee
@{
    ViewData["Title"] = "Attendees";
}

<link rel="stylesheet" href="~/css/registration.css" />

<div id="attendee">
	<img class="mage-top-page" src="~/images/background-top.png" />
	
	<div class="content-view">
		<img class="image-logo" src="~/images/logo.png" /> 
		<form asp-controller="Registration" asp-action="Completion" method="post" class="registration-input">
			<div class="title">ลงทะเบียน</div>
			<div>
				<span class="title-input">รหัสพนักงาน</span>
				<input class="input-code" asp-for="code" />
			</div>
			<div class="text-center">
				<button class="button">Log in</button>
			</div>
		</form>
	</div>
	<img class="mage-bottom-page" src="~/images/background-bottom.png" />
</div>